head
  script(type="text/javascript" src="https://unpkg.com/@reactivex/rxjs/dist/global/Rx.umd.js")

body
  h1 RX Russian Roulette
  p.triggered-count 0 Times Triggered
  p.dead-count 0 Russians Dead
  button Fire 1
  
  
