head
  title RX ROULETTE
  script(type="text/javascript" src="https://unpkg.com/@reactivex/rxjs/dist/global/Rx.umd.js")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
body
  #wrapper
    h1 RX Russian Roulette
    p.triggered-count 0 Times Triggered
    p.dead-count 0 Russians Dead
    #chamber
      // Chambers
      .chamber__chambers
        .chamber__bullet(chamber="1")
        .chamber__bullet(chamber="2")
        .chamber__bullet(chamber="3")
        .chamber__bullet(chamber="4")
        .chamber__bullet(chamber="5")
        .chamber__bullet(chamber="6")
      .chamber__grooves
        .chamber--groove.one
        .chamber--groove.two
        .chamber--groove.three
        .chamber--groove.four
        .chamber--groove.five
        .chamber--groove.six
      .chamber__ring--center
      
    button Fire 1
    
    
